.box {
  color: white;
  width: 100px;
  height: 10px;
  margin-bottom: 30px;
}

.box20 {
  color: white;
  width: 100px;
  height: 20px;
  margin-bottom: 30px;
}

.box50 {
  color: white;
  width: 100px;
  height: 20px;
  margin-bottom: 50px;
}

.box5 {
  color: white;
  width: 100px;
  height: 0px;
  margin-bottom: 10px;
}
